body {
    background-color: black;
    color: white;
}

#controls {
    padding-top: 5px;
}

div.clear {
    clear: both;
}

div.left {
    float: left;
}

div.relative {
    position: relative;
}

div#chart {
    display: inline-block;
    width:800px;
    height:400px;
}

div#legend {
    background-color: transparent;
    color: white;
    top: 0px;
}

div#legendArea{
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

audio {
    width: 800px;
}

#dropSongCont {
    height: 200px;
    border-radius: 25px;
    border: 1px dashed grey;
    text-align: center;
}
